html {
    font-size: 16px;
    font-family: ProximaNova,Helvetica,Arial,sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    color: #2f3f50;
    width: auto;
}

.header-main-wallpaper{
    width:auto;
    height:914px;
    background-image: linear-gradient(purple, blue);
    background-repeat: no-repeat;
}
.header-main {
    box-shadow:none;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
    margin: 0 auto;
    width:90%;
    max-width:1200px;
}
.f-menu-labels {
    list-style: none;
    text-align:right;
}

.f-menu-labels li {
    float:right;
    padding-top: 1em;
}

.f-menu-labels a {
    letter-spacing:0.6px;
    font-size: 0.8rem;
    text-decoration:none;
    color:white;
    margin: 0 0.8em;
    padding: 1em;
}

.second-menu {
    display:flex;
    padding-top: 1.5em;
    font-size: 0.95rem;
    font-weight: lighter;
    clear:both;
    letter-spacing: 0.8px;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

.image-second-menu {
    float:left;
}

.s-menu-label {
    align-items:center;
    list-style: none;
}

.s-menu-label li {
    float:right;
}

.s-menu-label a{
    padding:0 1.2em;
    text-decoration: none;
    letter-spacing:0;
    color:white;
}
#spotlight-button-second-menu {
    font-size: 0.9rem;
    border:2px solid white;
    padding: 0.8em 2.4em;
    margin-left: 1em;
    border-radius:1.5em;
    transition: .5s ease;
    -moz-transition: .5s ease;
    -webkit-transition: .5s ease;
    -o-transition: 0.5s ease;
}
#spotlight-button-second-menu:hover{
    color:black;
    background-color:white;
}

.texts-header-main {
    text-align:center;
    margin-top: 7em;
    background-image: url("../images/header-scnd-back.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size:contain;
    height:100%;
}

.main-header-text {
    font-size: 1.6rem;
    margin-bottom: 1em;
    color:white;
    font-weight: bold;
    letter-spacing:1px;
}

.main-header-sub-text {
    font-size: 1.4rem;
    color:white;
}

.button-header-main {
    margin-top: 5em;
}

.button-header-main a{
    text-decoration:none;

    color: #1a1a1a;
    background-color:#ffc300;
    padding: 1.2em 3em;
    border-radius: 2em;

    transition: .5s ease;
    -moz-transition: .5s ease;
    -webkit-transition: .5s ease;
    -o-transition: 0.5s ease;
}
.button-header-main a:hover{
    background-color:#ffee00;
}

.preload *{
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.first-section {
    height: 900px;
    width:auto;
    background-color:#F9F9F9;
    text-align:center;
}

.text-first-section {
    font-size: 1.5rem;
    padding: 2em 0;
}

.image-first-section {
    width:100%;
    background-color:red;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.images-first-section-content {
    margin: 0px 2em;
    vertical-align: middle;
    max-width:200px;
    max-height:50px;
    width: auto;
    height: auto;
    filter: grayscale(1);
    margin-bottom: 5em;
    transition: .5s ease;
}

.images-first-section-content:hover {
    transform: scale(1.2);
}
.text-2-first-section {
    font-size: 1.8rem;
    font-weight: bold;
}

#first-section-nasa {
    max-width: 230px;
    max-height: 70px;
}
.reviews-container-first-sec {
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
}
.containers-review {
    border:1px solid blue;
    width:20%;
    padding: 2em 0em;
    background-color:white;
    border:0.5px solid lightgrey;
    border-radius: 0.3em;
}
.containers-review img{
    transform:scale(0.6);
    max-width: 100%;
}

#container-review-bigger {
    width: 55%;
    display:flex;
    justify-content:space-between;
    text-align:left;
    padding:1em;
}
.container-review-three-image {
    border:1px solid red;
    width:50%;
    text-align:center;
    margin: 0 2em;
}
.container-review-three-image p{
    font-weight: 600;
}
.container-review-three-image img{
    transform:scale(0.8);
    border-radius: 60%;
    border:2px solid purple;
}
.container-review-three-text p {
    margin-top: 0.6em;
    font-size: 1.2rem;
}